{% extends "./base.html" %}

{% block content %}
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form action="otp/checkOtp" method="POST" class="box">
                        <div class="field">
                            <label for="" class="label">OTP</label>
                            <div class="control has-icons-left">
                                <input name="otp" type="text" placeholder="Insert OTP" class="input" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <input type="submit" class="button is-success" value="Login">
                    </form>
                    {% for message in get_flashed_messages() %}
                    <article class="message is-danger">
                        <div class="message-header">
                          <p>Operazione non riuscita!</p>
                        </div>
                        <div class="message-body">
                            {{ message }}                        
                        </div>
                      </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}