{% extends "./base.html" %}

{% block content %}
<div class="container">
  <div class="columns is-multiline">
    {% for league in data %}
    <div class="column is-one-quarter-desktop is-half-tablet">
      <a class="card" href="/result/{{league['id']}}/{{league['currentMatchDay']}}">
        <div class="card-image">
          <figure class="image is-96x96 has-image-centered">
            <img src="{{league['nation']}}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <h3>{{league['name']}}</h3>
            <dl>
              <dt><i class="fas fa-futbol"></i> <strong>Inizio:</strong>
                {{league['startComp']}}</dt>
              <dt><i class="fas fa-futbol"></i> <strong>Fine:</strong>
                {{league['endComp']}}</dt>
              <dt><i class="far fa-calendar-alt"></i> <strong>Giornata:</strong>{{league['currentMatchDay']}}</dt>
              </ul>
          </div>
        </div>
      </a>
    </div>
    {%endfor%}
  </div>
</div>
{% endblock %}