<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>Oauth Server</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-rtl.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='/image/favicon.ico') }}">
</head>
{% include 'partial/navbar.html' %}

<body>
  {% block content %}
  {% endblock %}
  <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
</body>

</html>
