{% extends "./base.html" %}

{% block content %}
<section class="hero is-info is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h1 class="title">
                    HOOLIGANS
                </h1>
                <h2 class="subtitle">
                    Monitora i risultati delle tue squadre preferite e guarda i risultati in diretta dei principali campionati!
                </h2>
            </div>
        </div>
    </div>

</section>

{% endblock %}