<section class="hero">
    <div class="hero-head">
        <nav class="navbar is-transparent">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ url_for('site.index') }}">
                        <img src="{{ url_for('static', filename='/image/logo.png') }}" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="usermenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="usermenu" class="navbar-menu">
                    <div class="navbar-start">
                        {% if g.user %}
                        <a class="navbar-item" href="{{ url_for('site.competitions') }}">
                            Tutti i campionati
                        </a>
                        <a href="{{ url_for('site.favouriteTeam') }}" class="navbar-item">
                            I miei seguiti
                        </a>
                        {%endif%}
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                {% if g.user %}
                                <button class="button is-primary"><strong>{{g.user['username']}}</strong></button>
                                <a class="button is-danger" href="{{ url_for('auth.logout') }}">Log Out</a>
                                {% else %}
                                <a class="button is-primary" href="{{url_for('auth.register')}}">
                                    <strong>Sign up</strong>
                                </a>
                                <a class="button is-light" href="{{url_for('auth.login')}}">
                                    Log in
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>