{% extends "./base.html" %}

{% block content %}
<section class="hero is-danger is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    {% if ur != None and scope != None %}
                    <form action="register/checkregister?redirect_uri={{ur}}&scope={{scope}}" method="POST" class="box">
                    {%else%}
                    <form action="register/checkregister" method="POST" class="box">
                    {%endif%}
                        <div class="field">
                            <label for="" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input name="email" type="email" placeholder="e.g. pippo@gmail.com" class="input" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input name="password1" type="password" placeholder="*******" class="input" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <p class="help has-text-grey">La password deve avere almeno 8 caratteri.</p>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Retype Password</label>
                            <div class="control has-icons-left">
                                <input name="password2" type="password" placeholder="*******" class="input" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                        <input type="submit" class="button is-success" value="Registrati">
                        </div>
                        <a href="{{url_for('auth.login')}}" class="button is-text">Già registrato? Vai al login</a>
                    </form>
                    {% for message in get_flashed_messages() %}
                    <article class="message is-danger">
                        <div class="message-header">
                          <p>Operazione non riuscita!</p>
                        </div>
                        <div class="message-body">
                            {{ message }}                        
                        </div>
                      </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}