{% extends "./base.html" %}

{% block content %}
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form action="/user/updateUser" method="POST" class="box">
                        <div class="field">
                            <label for="" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input name="username" type="email" value="{{user['username']}}" class="input">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Nuova Password</label>
                            <div class="control has-icons-left">
                                <input name="password1" type="password" placeholder="*******" class="input">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <p class="help has-text-grey">La password deve avere almeno 8 caratteri.</p>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Riscrivi la password</label>
                            <div class="control has-icons-left">
                                <input name="password2" type="password" placeholder="*******" class="input">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Vecchia password</label>
                            <div class="control has-icons-left">
                                <input name="oldPassword" type="password" placeholder="*******" class="input">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                        <input type="submit" class="button is-success" value="Aggiorna">
                        <a class="button is-danger is-outlined" href="/user/delete">Elimina utente</a>
                        </div>
                    </form>
                    {% for message in get_flashed_messages() %}
                    <article class="message is-danger">
                        <div class="message-header">
                          <p>Operazione non riuscita!</p>
                        </div>
                        <div class="message-body">
                            {{ message }}                        
                        </div>
                      </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}